{
 ;; MOLTEN CORE

 "Lucifron"                 {:entities {"Lucifron"             {:count 1}
                                        "Flamewaker Protector" {:count 2}}}

 "Magmadar"                 {:entities {"Magmadar" {:count 1}}}

 "Gehennas"                 {:entities {"Gehennas"   {:count 1}
                                        "Flamewaker" {:count 2}}}

 "Garr"                     {:entities {"Garr"      {:count 1}
                                        "Firesworn" {:count 8}}}

 "Baron Geddon"             {:entities {"Baron Geddon" {:count 1}}}

 "Shazzrah"                 {:entities {"Shazzrah" {:count 1}}}

 "Sulfuron Harbinger"       {:entities {"Sulfuron Harbinger" {:count 1}
                                        "Flamewaker Priest"  {:count 4}}}

 "Golemagg the Incinerator" {:entities {"Golemagg the Incinerator" {:count 1}
                                        "Core Rager"               {:count 2}}}

 "Majordomo Executus"       {:entities           {"Majordomo Executus" {:count                    1
                                                                        :must-kill-count          0
                                                                        :ignore-interactions-with ["Ragnaros"]
                                                                        :ignore-skills            ["Summon Ragnaros"]}
                                                  "Flamewaker Healer"  {:count 4}
                                                  "Flamewaker Elite"   {:count 4}}
                             :trigger-on-damage? true
                             :trigger-on-debuff? true}

 "Ragnaros"                 {:entities           {"Ragnaros"     {:count                    1
                                                                  :ignore-interactions-with ["Majordomo Executus"]}
                                                  "Son of Flame" {:cannot-trigger? true}}
                             :trigger-on-damage? true
                             :trigger-on-debuff? true}



 ;; ONYXIA

 "Onyxia"                   {:entities {"Onyxia" {:count 1}}}



 ;; BLACKWING LAIR

 "Razorgore the Untamed"    {:entities {"Razorgore the Untamed"   {:count 1}
                                        "Grethok the Controller"  {:count 1}
                                        "Blackwing Guardsman"     {:count 2}
                                        "Blackwing Legionnaire"   {:cannot-trigger? true}
                                        "Blackwing Mage"          {:cannot-trigger? true}
                                        "Death Talon Dragonspawn" {:cannot-trigger? true}}}

 "Vaelastrasz the Corrupt"  {:entities {"Vaelastrasz the Corrupt" {:count 1}}}

 "Broodlord Lashlayer"      {:entities {"Broodlord Lashlayer" {:count 1}}}

 "Firemaw"                  {:entities {"Firemaw" {:count 1}}}

 "Ebonroc"                  {:entities {"Ebonroc" {:count 1}}}

 "Flamegor"                 {:entities {"Flamegor" {:count 1}}}

 "Chromaggus"               {:entities {"Chromaggus" {:count 1}}}

 "Nefarian"                 {:entities {"Nefarian"             {:count 1}
                                        "Lord Victor Nefarius" {:count           1
                                                                :must-kill-count 0}
                                        "Black Drakonid"       {:cannot-trigger? true}
                                        "Blue Drakonid"        {:cannot-trigger? true}
                                        "Bronze Drakonid"      {:cannot-trigger? true}
                                        "Chromatic Drakonid"   {:cannot-trigger? true}
                                        "Green Drakonid"       {:cannot-trigger? true}
                                        "Red Drakonid"         {:cannot-trigger? true}
                                        "Bone Construct"       {:cannot-trigger? true}}}


 ;; ZUL'GURUB

 "High Priestess Jeklik"    {:entities {"High Priestess Jeklik" {:count 1}}}

 "High Priest Venoxis"      {:entities {"High Priest Venoxis" {:count 1}
                                        "Razzashi Cobra"      {:count 4}}}

 "High Priestess Mar'li"    {:entities {"High Priestess Mar'li" {:count 1}
                                        "Witherbark Speaker"    {:count 1}
                                        "Spawn of Mar'li"       {:cannot-trigger? true}
                                        "Spider"                {:cannot-trigger? true}}}

 "Bloodlord Mandokir"       {:entities {"Bloodlord Mandokir" {:count 1}
                                        "Ohgan"              {}}}

 "High Priest Thekal"       {:entities {"High Priest Thekal" {:count 2}
                                        "Zealot Zath"        {:count 1}
                                        "Zealot Lor'Khan"    {:count 1}
                                        "Zulian Guardian"    {:cannot-trigger? true}
                                        ; technically these should be able to trigger the encounter start,
                                        ; but enemies with the same name are also located throughout ZG
                                        "Zulian Tiger"       {:cannot-trigger? true}}}

 "High Priestess Arlokk"    {:entities {"High Priestess Arlokk" {:count 1}
                                        "Zulian Prowler"        {:cannot-trigger? true}}}

 "Jin'do the Hexxer"        {:entities {"Jin'do the Hexxer"     {:count 1}
                                        "Brain Wash Totem"      {:cannot-trigger? true}
                                        "Powerful Healing Ward" {:cannot-trigger? true}
                                        "Shade of Jin'do"       {}
                                        "Sacrificed Troll"      {:cannot-trigger? true}}}

 "Hakkar"                   {:entities {"Hakkar" {:count 1}}}

 "Gahz'ranka"               {:entities {"Gahz'ranka" {:count 1}}}

 "Hazza'rah"                {:entities {"Hazza'rah"          {:count 1}
                                        "Nightmare Illusion" {:cannot-trigger? true}}}

 "Gri'lek"                  {:entities {"Gri'lek" {:count 1}}}

 "Renataki"                 {:entities {"Renataki" {:count 1}}}

 "Wushoolay"                {:entities {"Wushoolay" {:count 1}}}



 ;; RUINS OF AHN'QIRAJ (AQ20)
 ; TODO: verify these

 "Kurinnaxx"                {:entities {"Kurinnaxx" {:count 1}}}

 "General Rajaxx"           {:entities {"General Rajaxx"     {:count 1}
                                        "Captain Qeez"       {}
                                        "Captain Drenn"      {}
                                        "Captain Xurrem"     {}
                                        "Major Yeggeth"      {}
                                        "Major Pakkon"       {}
                                        "Colonel Zerran"     {}
                                        "Swarmguard Needler" {:cannot-trigger? true}
                                        "Qiraji Warrior"     {:cannot-trigger? true}}}

 "Moam"                     {:entities {"Moam" {:count 1}}}

 "Buru the Gorger"          {:entities {"Buru the Gorger" {:count 1}}}

 "Ayamiss the Hunter"       {:entities {"Ayamiss the Hunter" {:count 1}}}

 "Ossirian the Unscarred"   {:entities {"Ossirian the Unscarred" {:count 1}}}



 ;; TEMPLE OF AHN'QIRAJ (AQ40)
 ; TODO: verify these

 ; this is almost certainly wrong, as he splits into 2 every 25% (do the splits have the same name?)
 "The Prophet Skeram"       {:entities {"The Prophet Skeram" {:count 1}}}

 "Silithid Royalty"         {:entities {"Lord Kri"      {:count 1}
                                        "Princess Yauj" {:count 1}
                                        "Vem"           {:count 1}}}

 "Battleguard Sartura"      {:entities {"Battleguard Sartura"   {:count 1}
                                        "Sartura's Royal Guard" {:count 3}}}

 "Fankriss the Unyielding"  {:entities {"Fankriss the Unyielding" {:count 1}
                                        "Spawn of Fankriss"       {}
                                        "Vekniss Hatchling"       {:cannot-trigger? true}}}

 "Viscidus"                 {:entities {"Viscidus" {:count 1}}}

 "Princess Huhuran"         {:entities {"Princess Huhuran" {:count 1}}}

 "Twin Emperors"            {:entities {"Emperor Vek'lor"    {:count 1}
                                        "Emperor Vek'nilash" {:count 1}
                                        "Qiraji Scarab"      {:cannot-trigger? true}
                                        "Qiraji Scorpion"    {:cannot-trigger? true}}}

 "Ouro"                     {:entities {"Ouro" {:count 1}}}

 "C'Thun"                   {:entities {"C'Thun"              {:count 1}
                                        "Claw Tentacle"       {}
                                        "Eye Tentacle"        {}
                                        "Giant Claw Tentacle" {:cannot-trigger? true}
                                        "Giant Eye Tentacle"  {:cannot-trigger? true}
                                        "Flesh Tentacle"      {:cannot-trigger? true}}}



 ;; WORLD BOSSES

 "Azuregos"                 {:entities {"Azuregos" {:count 1}}}

 "Lord Kazzak"              {:entities {"Lord Kazzak" {:count 1}}}



 ;; DRAGONS OF NIGHTMARE

 "Lethon"                   {:entities {"Lethon" {:count 1}}}

 "Emeriss"                  {:entities {"Emeriss" {:count 1}}}

 "Ysondre"                  {:entities {"Ysondre" {:count 1}}}

 "Taerar"                   {:entities {"Taerar"          {:count 1}
                                        "Shade of Taerar" {:cannot-trigger? true}}}

 }
